/* Minimal CSS Reset */
html {
  box-sizing: border-box;
  font-size: 12px; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

/* Theme */
main {
  background: #303F9F;
  color: #FAFAFA; }

#icons-social a {
  color: #FAFAFA; }

#icons-social a svg path {
  fill: #FAFAFA; }

/* Typography */
html {
  font-family: 'Roboto', sans-serif; }

@media (min-width: 576px) {
  html {
    font-size: 14px; } }
@media (min-width: 768px) {
  html {
    font-size: 16px; } }
@media (min-width: 992px) {
  html {
    font-size: 18px; } }
@media (min-width: 1200px) {
  html {
    font-size: 20px; } }
#icons-social i {
  font-size: 3em; }

/* Custom Styles */
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 0 30px;
  text-align: center; }

main > #intro {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 3.75em;
  font-weight: 600; }

main > .tagline {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 100; }

#icons-social i {
  padding: 10px; }

.devto {
  margin-bottom: -0.20rem; }

.devto svg {
  margin-bottom: -0.20rem;
  margin-left: 0.675rem;
  width: 2.65rem;
  height: 2.65rem; }

/* Social icons hover */
.fab-link:hover {
  color: #303F9F;
  background: #FAFAFA;
  border-radius: 50px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out; }

.fab-link i:hover {
  color: #303F9F;
  background: #FAFAFA;
  border-radius: 50px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out; }

.fab-link i before:hover {
  color: #303F9F;
  background: #FAFAFA;
  border-radius: 50px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out; }

/* links */
.social-link {
  margin-left: 1em;
  margin-right: 1em; }

.external-link {
  padding: 0.5em;
  margin: 0.5em; }

.title {
  margin-top: 1em;
  margin-bottom: 0.5em; }

.fab {
  border-radius: 50px; }

* {
  font-family: sans-serif; }

#links {
  text-align: center; }

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  box-sizing: border-box;
  word-wrap: break-word;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  top: 0;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  line-height: normal;
  font-size: 14px;
  padding: 14px 20px;
  padding-right: 58px;
  text-decoration: none;
  border: 2px solid #FAFAFA;
  color: #FAFAFA; }

.btn:hover {
  background: #FAFAFA;
  color: #000000; }

.btn--rounded {
  border-radius: 50px; }

.btn-icon {
  background: #FAFAFA;
  color: #999;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 5px; }
