*,
html {
  box-sizing: border-box;
}

@media (min-width: 0) {
  /* Styles for the main container */
  main {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 5%;
  }

  p {
    font-family: "Lato", sans-serif;
  }

  /* Typography styles */

  .intro {
    font-family: "Reem Kufi", sans-serif;
    font-size: 10vw;
    font-weight: 600;
  }

  .tagline {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 3.5vw;
    margin: 1.5rem 0;
    font-weight: 100;
  }

  /* Icons styles */

  .icons-social i {
    font-size: 3em;
  }

  .icons-social i {
    padding: 0 0.2rem;
    margin: 0 0.5rem;
    transition: 350ms ease-in-out;
  }

  .icons-social i:hover {
    translate: 0 -0.25rem;
  }

  .icons-social a {
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  /* Typography styles */

  .intro {
    font-size: 5rem;
  }

  .tagline {
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  /* Typography styles */

  .intro {
    font-size: 6.5vw;
  }

  .tagline {
    font-size: 1.5vw;
  }
}

@media (min-width: 2400px) {
  /* Typography styles */

  .intro {
    font-size: 6vw;
  }

  /* Icons styles */
  .icons-social i {
    font-size: 4em;
  }
}
