/* Theme */

main {
	background: #FFEB3B;
	color: #1E1E1E;
}

.icons-social a {
	color: #1E1E1E;
}

.icons-social a svg path{
	fill: #1E1E1E;
}

i:hover{
	color:#691818;;
}

.intro span{
    	opacity: 0;
    	transform: rotate(-180deg) translate(150px, 0);
    	animation: twister .5s forwards;
}

@keyframe twister{
    10% {
        opacity: 1;
    }
    100% {
        transform: rotate(0deg) translate(0);
        opacity: 1;
    }
}
